/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓我是分割箭头--[全局简单动画class]--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
@keyframes n22-base-slide-up-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes n22-base-slide-up-leave {
  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes n22-base-slide-down-enter {
  from {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes n22-base-slide-down-leave {
  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes n22-base-slide-left-enter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes n22-base-slide-left-leave {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes n22-base-slide-right-enter {
  from {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes n22-base-slide-right-leave {
  to {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes n22-base-fade-in {
  from {
    opacity: 0;
    // -ms-transform: rotateX(90deg);
    // -webkit-transform: rotateX(90deg);
    // transform: rotateX(90deg);
  }

  to {
    opacity: 1;
    // -ms-transform: rotateX(0deg);
    // -webkit-transform: rotateX(0deg);
    // transform: rotateX(0deg);
  }
}

@keyframes n22-base-fade-out {
  from {
    opacity: 1;
    // -ms-transform: rotateX(0deg);
    // -webkit-transform: rotateX(0deg);
    // transform: rotateX(0deg);
  }

  to {
    opacity: 0;
    // -ms-transform: rotateX(90deg);
    // -webkit-transform: rotateX(90deg);
    // transform: rotateX(90deg);
  }
}


//旋转
@keyframes n22-base-rotate-in {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes n22-base-rotate-out {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.n22-base-rotate {
  &-enter-active {
    animation: .3s n22-base-rotate-in;
  }

  &-leave-active {
    animation: .3s n22-base-rotate-out;
  }
}

//缩放
@keyframes n22-base-scale-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
@keyframes n22-base-scale-out {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}
.n22-base-scale {
  &-enter-active {
    animation: .3s n22-base-scale-in;
  }

  &-leave-active {
    animation: .3s n22-base-scale-out;
  }
}

.n22-base-fade {
  &-enter-active {
    animation: .3s n22-base-fade-in;
  }

  &-leave-active {
    animation: .3s n22-base-fade-out;
  }
}

.n22-base-slide-up {
  &-enter-active {
    animation: n22-base-slide-up-enter .3s both ease;
  }

  &-leave-active {
    animation: n22-base-slide-up-leave .3s both ease;
  }
}

.n22-base-slide-down {
  &-enter-active {
    animation: n22-base-slide-down-enter .3s both ease;
  }

  &-leave-active {
    animation: n22-base-slide-down-leave .3s both ease;
  }
}

.n22-base-slide-left {
  &-enter-active {
    animation: n22-base-slide-left-enter .3s both ease;
  }

  &-leave-active {
    animation: n22-base-slide-left-leave .3s both ease;
  }
}

.n22-base-slide-right {
  &-enter-active {
    animation: n22-base-slide-right-enter .3s both ease;
  }

  &-leave-active {
    animation: n22-base-slide-right-leave .3s both ease;
  }
}
/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑我是分割箭头--[全局简单动画class]--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
