.n22-example-child
  box-sizing border-box
  .not-swiper-div
    top 64px!important

.n22-example-child-button, .n22-example-child-landscape, .n22-example-child-action-sheet, .n22-example-child-date-picker
  , .n22-example-child-icon, .n22-example-child-reader, .n22-example-child-notice-bar, .n22-example-child-number-keyboard
  , .n22-example-child-picker, .n22-example-child-popup, .n22-example-child-result-page, .n22-example-child-tab-picker
  , .n22-example-child-toast, .n22-example-child-dialog, .n22-example-child-cashier, .n22-example-chart-child
  clearfix()
  padding 20px

.n22-example-child-button
  .n22-button
    margin-bottom 10px
  &.n22-example-child-button-3
    .n22-button
      float left
      margin-right 10px
    br
      float left
      width 100%
.n22-example-child-agree
  margin-top 70px
  padding 0 h-gap-lg
  font-size font-minor-large
  .n22-agree-content
    color #858B9C
    a
      color #5878B4
.n22-example-child-drop-menu
  position absolute
  width 100%
  height 100%
  .n22-drop-menu-bar
    height drop-menu-height !important
.n22-example-child-field
  .n22-input-item
    background #FFF
    padding 0 32px
  .strong-tip
    font-size 24px
    color color-text-hightlight
.n22-example-child-icon
  &.n22-example-child-icon-1
    display flex
    align-items center
    height 200px
  .n22-example-item, .n22-example-item-s
    float left
    width 20%
    padding 30px 0
    color #333
    text-align center
    .n22-icon
      margin 0 auto
    p
      margin-top 10px
      text-align center
      font-size 20px
      color #666
.n22-example-child-popup
  .n22-popup.with-mask, .n22-popup-box
    position absolute !important
.n22-example-child-radio
  .n22-field-item-custom-title
    font-weight font-weight-medium
  .n22-field-item-custom-brief
    font-size font-minor-normal
.n22-example-child-selector
  .n22-popup.with-mask
    position absolute !important
.n22-example-child-steps
  position relative
  top 40px
  .bar.horizontal-bar, .horizontal-bar .bar-inner
    height 2px !important
  .bar.vertical-bar, .vertical-bar .bar-inner
    width 2px !important
.n22-example-child-switch
  display flex
  align-items center
  justify-content center
  height 194px
.n22-example-child-drop-select
  height 500px
.n22-example-child-tabs
  .n22-tab-bar
    background #FFF
  .n22-tab-content
    background #FFF
    height 100px
    line-height 100px
    text-align center
.n22-example-child-tag
  display flex
  align-items center
  justify-content center
  height 194px
  .n22-tag
    margin-right h-gap-sm
.n22-example-child-tab-picker
  .n22-popup.with-mask
    position absolute !important
.n22-example-child-dialog
  .n22-button
    margin-bottom 20px  
.n22-example-child-tip
  zoom 1 !important 
  display flex
  align-items center
  justify-content center
  height 194px
.n22-example-child-stepper
  display flex
  align-items center
  height 194px
  .n22-field
    flex 1
.n22-example-child-notice-bar
  display flex
  align-items center
  height 194px
  .n22-notice-bar
    flex 1
    width 100%
.n22-example-child-codebox
  display flex
  align-items center
  justify-content center
  height 194px
.n22-example-chart-child
  svg
    width 100% !important
.n22-example-child-result-page
  background-color #fff
.n22-example-child-check
  &.n22-example-child-check-2, &.n22-example-child-check-3
    padding 32px 0
.n22-example-child-slider
  padding 52px 0 0
.n22-example-child-amount
  font-size 48px

.n22-image-viewer
  position absolute !important
.n22-action-bar
  position absolute !important
.n22-action-sheet
  .n22-popup
    position absolute !important
body>.n22-action-sheet
  zoom .6
  .n22-popup-box
    width 750px !important
    left calc(50% - 375px)
.n22-date-picker
  .n22-popup
    position absolute !important
.n22-drop-menu
  position absolute !important 
  height 100% !important
  z-index 100
  .n22-drop-menu-bar
    height drop-menu-height
  .n22-popup
    position absolute !important
.n22-dialog .n22-popup-box, .n22-toast
  // zoom .6
.n22-number-keyboard 
  .n22-popup-box
    left 50% !important
    max-width 800px !important
    margin-left -400px !important
    z-index 1104 !important
    box-shadow 0 4px 20px rgba(0, 0, 0, .1)
.n22-captcha 
  z-index 1402 !important
  .n22-number-keyboard .n22-popup-box
    position fixed !important
    zoom .6
  // .n22-dialog .n22-popup-box
  //   top 30% !important
.n22-landscape
  .n22-popup
    position static !important
  .n22-popup.with-mask, .n22-popup-box, .landscape-close
    position absolute !important
  .landscape-close
    bottom 5% !important
.n22-picker
  .n22-popup
    position absolute !important
  .n22-picker-column-masker
    &::before, &::after
      transform none !important
.n22-cashier 
  .n22-popup.with-mask
    position absolute !important

 .n22-popup.with-mask
    z-index 1111 !important


@media (max-width: 750px)
  .n22-example-child-icon
    .n22-example-item, .n22-example-item-s
      width 33%


.n22-example-child-all-head-0
  height 400px
  .n22-nav-bar--fixed
    position relative
  .n22-nav-bar
    background-color #ffffff
  .swiper-container
    top 120px!important
.n22-example-child-content-3
  height 400px
  .n22-nav-bar--fixed
    position relative
  .n22-tab-bar
    background-color #ffffff!important
  .my-item
    background-color #ffffff
    height 35px
  .not-swiper-div, .swiper-container
    top 10px!important
.n22-nav-bar__title
  margin-bottom 0px!important
