.box {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 8px;
  // background-color: #f1f3f4;
  // width: 376px;
  // height: 1953px;
}

.hd {
  display: flex;
  position: relative;
  align-items: flex-start;
  align-self: center;
  flex-direction: column;
  margin-top: 26px;
  border-radius: 10px;
  background-color: #ffffff;
  // width: 350px;
  // height: 593px;
  padding-bottom: 20px;
}

.outer {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 16px;
  width: 243px;
  height: 31px;
  img{
    width: 244px;
    height: 19px;
  }
}

.buttonBg {
  position: relative;
  align-self: center;
  margin-top: 34px;
  width: 331px;
  height: 151px;
}

.colorDiv_4 {
  position: absolute;
  top: 85px;
  left: 101px;
  background-color: rgba(0, 0, 0, 0);
  width: 33px;
  height: 32px;
}

.icon {
  position: absolute;
  top: 85px;
  left: 105px;
  width: 26px;
  height: 36px;
}

.block-txt {
  display: flex;
  position: relative;
  align-items: center;
  align-self: flex-end;
  flex-direction: row;
  margin-top: 6px;
  margin-right: 14px;
  border-radius: 10px;
  background-color: #FFB83D;
  width: 68px;
  height: 20px;
}

.text {
  opacity: 1;
  margin-right: 2px;
  line-height: 20px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.desc-icon {
  color: #ffffff;
}
.arrow{
  transform: scale(0.6) rotate(90deg);
  margin-left: -4px;
}
.arrow-close{
  transform: scale(0.6) rotate(-90deg);
  margin-left: -4px;
}

.group {
  display: flex;
  position: relative;
  align-items: flex-start;
  align-self: center;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #FFF7E9;
  width: 326px;
  height: 90px;
}

.summary {
  webkit-line-clamp: 2px;
  position: relative;
  opacity: 1;
  margin-top: 13px;
  margin-left: 4px;
  width: 312px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  color: #FBB707;
  font-size: 12px;
  font-weight: 400;
}

.summary_2 {
  webkit-line-clamp: 2px;
  position: relative;
  opacity: 1;
  margin-left: 4px;
  width: 312px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  color: #FBB707;
  font-size: 12px;
  font-weight: 400;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 9px;
  width: 312px;
  height: 17px;
}

.text_2 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
}

.info_2 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #FFB83D;
  font-size: 12px;
  font-weight: 600;
}

.info_3 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
}

.text_3 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #FFB83D;
  font-size: 12px;
  font-weight: 600;
}

.desc {
  position: relative;
  opacity: 1;
  margin-left: 17px;
  max-width: 321px;
  height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  white-space: nowrap;
  color: #FFB83D;
  font-size: 12px;
  font-weight: 600;
}

.outer_2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 11px;
  margin-left: 18px;
  height: 24px;
}

.txt {
  margin-top: 6px;
  font-weight: 600;
  font-size: 14px;
  color: #FFB83D;
  line-height: 20px;
  opacity: 1;
  white-space: nowrap;
}

.desc_2 {
  opacity: 1;
  margin-top: 7px;
  line-height: 17px;
  white-space: nowrap;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.summary_3 {
  webkit-line-clamp: 2px;
  position: relative;
  opacity: 1;
  margin-top: 3px;
  margin-left: 18px;
  width: 312px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.block_2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 18px;
  height: 24px;
}

.text_4 {
  margin-top: 6px;
  font-weight: 600;
  font-size: 14px;
  color: #FBB707;
  line-height: 20px;
  opacity: 1;
  white-space: nowrap;
}

.desc_3 {
  opacity: 1;
  margin-top: 7px;
  line-height: 17px;
  white-space: nowrap;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.summary_4 {
  webkit-line-clamp: 2px;
  position: relative;
  opacity: 1;
  margin-top: 3px;
  margin-left: 18px;
  width: 312px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.bd {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 9px;
  border-radius: 10px;
  background-color: #ffffff;
  // width: 350px;
  // height: 476px;
  padding-bottom: 20px;
}

.color_5 {
  position: absolute;
  top: 79px;
  left: 156px;
  background-color: rgba(0, 0, 0, 0);
  width: 33px;
  height: 32px;
}

.icon_3 {
  position: relative;
  align-self: center;
  margin-top: 20px;
  width: 26px;
  height: 36px;
}

.actionBg_2 {
  position: relative;
  align-self: center;
  margin-top: 5px;
  width: 320px;
  height: 73px;
}

.container_2 {
  display: flex;
  position: relative;
  align-items: center;
  align-self: flex-end;
  flex-direction: row;
  margin-top: 18px;
  margin-right: 14px;
  border-radius: 10px;
  background-color: #FFB83D;
  width: 68px;
  height: 20px;
}

.block_3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 3px;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
  width: 16px;
  height: 16px;
}

.text_5 {
  opacity: 1;
  margin-right: 2px;
  line-height: 20px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.sectionWrap {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 11px;
  border-radius: 10px;
  background-color: #FFF7E9;
  width: 326px;
  height: 70px;
}

.section {
  webkit-line-clamp: 3px;
  opacity: 1;
  margin-left: 5px;
  width: 312px;
  height: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  color: #FBB707;
  font-size: 12px;
  font-weight: 400;
}

.block_4 {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 14px;
  width: 312px;
  height: 17px;
}

.word {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
}

.info_5 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #FFB83D;
  font-size: 12px;
  font-weight: 600;
}

.desc_4 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
}

.summary_5 {
  position: relative;
  align-self: center;
  opacity: 1;
  width: 312px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
}

.group_3 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 11px;
  margin-left: 17px;
  height: 24px;
}

.word_2 {
  opacity: 1;
  margin-top: 4px;
  line-height: 20px;
  white-space: nowrap;
  color: #FFB83D;
  font-size: 14px;
  font-weight: 600;
}

.desc_5 {
  opacity: 1;
  margin-top: 7px;
  line-height: 17px;
  white-space: nowrap;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.article {
  webkit-line-clamp: 3px;
  position: relative;
  opacity: 1;
  margin-top: 3px;
  margin-left: 17px;
  width: 312px;
  height: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.main {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  // width: 350px;
  // height: 618px;
  padding-bottom: 20px;
}

.entryPic_2 {
  position: relative;
  align-self: center;
  margin-top: 16px;
  width: 334px;
  height: 203px;
}

.outer_3 {
  display: flex;
  position: relative;
  align-items: center;
  align-self: flex-end;
  flex-direction: row;
  margin-top: 14px;
  margin-right: 14px;
  border-radius: 10px;
  background-color: #FFB83D;
  width: 68px;
  height: 20px;
}

.container_4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 3px;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
  width: 16px;
  height: 16px;
}

.txt_2 {
  opacity: 1;
  margin-right: 2px;
  line-height: 20px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.sectionWrap_2 {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 13px;
  border-radius: 10px;
  background-color: #FFF7E9;
  width: 326px;
  height: 70px;
}

.section_2 {
  webkit-line-clamp: 3px;
  opacity: 1;
  margin-left: 6px;
  width: 300px;
  height: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  color: #FBB707;
  font-size: 12px;
  font-weight: 400;
}

.group_5 {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 14px;
  width: 312px;
  height: 17px;
}

.info_7 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.info_8 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #FFB83D;
  font-size: 12px;
  font-weight: 600;
}

.desc_6 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.desc_7 {
  position: relative;
  opacity: 1;
  margin-left: 17px;
  max-width: 333px;
  height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  white-space: nowrap;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.container_5 {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 8px;
  width: 312px;
  height: 17px;
}

.info_9 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.info_10 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #FFB83D;
  font-size: 12px;
  font-weight: 600;
}

.desc_8 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.summary_6 {
  webkit-line-clamp: 2px;
  position: relative;
  align-self: center;
  opacity: 1;
  width: 315px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.outer_4 {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 5px;
  width: 312px;
  height: 17px;
}

.info_11 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.info_12 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #FFB83D;
  font-size: 12px;
  font-weight: 600;
}

.desc_9 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.desc_10 {
  position: relative;
  opacity: 1;
  margin-left: 17px;
  max-width: 333px;
  height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  white-space: nowrap;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.block_5 {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 9px;
  width: 312px;
  height: 17px;
}

.info_13 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.info_14 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #FFB83D;
  font-size: 12px;
  font-weight: 600;
}

.desc_11 {
  opacity: 1;
  line-height: 17px;
  white-space: nowrap;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.summary_7 {
  webkit-line-clamp: 2px;
  position: relative;
  align-self: center;
  opacity: 1;
  width: 315px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}
